*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

body{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,200px);
    grid-template-areas: "header header header"
                         "main main main"
                         "footer footer footer";
}
header{
    grid-area: header;
}
main{
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2{
    margin: 10px;
    font-size: 2.2rem;
}
.analisis-salarios{
   background-color: aliceblue;  
}
button{
    width: 20rem;
    height: 3rem;
    font-size: 1.6rem;
    margin: 20px;
}
footer{
    grid-area: footer;
  
}