*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

body{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,1fr);
    grid-template-areas: "header header header"
                         "main main main"
                         "footer footer footer";
}
header{
    grid-area: header;
}
main{
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2{
    margin-left: 10px;
    font-size: 2.2rem;
}
.analisis-salarios{
   margin-top: 20px; 
   background-color: aliceblue; 
   box-shadow: 5px 5px 5px gray    ;
}
button{
    width: 20rem;
    height: 3rem;
    font-size: 1.6rem;
    margin: 10px;
    background-color: rgb(122, 253, 253);
    border: none;
    border-radius: 5px;
    box-shadow: 3px 3px 3px grey;
}
p{
    font-size: 1.6rem;
    margin-left: 10px;
}
footer{
    grid-area: footer;
  
}