*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,200px);
    grid-template-areas: "header header header"
                         "main main main"
                         "footer footer footer";
}
header{
    grid-area: header;
}
main{
    grid-area: main;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.analisis-salarios{
   background-color: aliceblue;
   
}

footer{
    grid-area: footer;
  
}